<section class=budget-items>
    <div class="budget-items-container">
        <div class="income-column">
            <h1>Income</h1>
            <div *ngFor="let item of budgetItems"> <!--- for içinde -->
                <app-budget-item-card 
                    *ngIf="item.amount >= 0"
                    [isIncome]="true" 
                    style="display: block; margin-bottom: 20px;">
                </app-budget-item-card>
            </div>
        </div>

        <div class="expenses-column">
            <h1>Enpenses</h1>
            <div *ngFor="let item of budgetItems"> <!--- for içinde -->
                <app-budget-item-card 
                    *ngIf="item.amount < 0"
                    [isIncome]="false" 
                    style="display: block; margin-bottom: 20px;">
                </app-budget-item-card>
            </div>
        </div>
    </div>
</section>