@import '../../main-styles.scss';

.top-bar{
    display: flex;
    width: 100%;
    height: 68px;
    background: linear-gradient(75deg, rgb(173, 200, 238),rgb(214,180,240));

    // Center(horizontally,vertically)
    justify-content: center;
    align-items: center;

    h1{
        font-size: 19px;
        font-family: 'Lato';
        letter-spacing: 1px;
        font-weight: 800;
        text-transform: uppercase;
        color: $dark;
    }
}

.total-budget{
    display: flex;
    height: 250px;
    background: $dark;

    justify-content: center;
    align-items: center;

    h2{
        font-family: 'Lato';
        font-weight: 300;
        font-size: 60px;
        color: white;

        // if h2 class is green
        &.green{
            color: lighten($color: $green, $amount: 15%);
        }

        // if h2 class is red
        &.red{
            color: lighten($color: $red, $amount: 15%);
        }
    }
}

.add-item{
    display: flex;
    justify-content: center;
    align-items: center;

    .add-item-container{
        width: 680px;
    }
}